@import "tailwindcss";

:root {
  --brand_primary: hsl(49, 92, 50);
  --brand_secondary: #000000;
  --background: #ffffff;
  --foreground: #171717;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: var(--brand_primary);
  margin-bottom: 20px;
}